---
if (Astro.request.method === "POST") {
    try {
        const data = await Astro.request.formData();
        const response = await fetch("http://localhost:25052/auth/login", {
            method: "POST",
            body: data,
        });
    } catch (error) {
        if (error instanceof Error) {
            console.error(error.message);
        }
    }
}
---

<html lang="en" class="h-[100%]">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="h-[100%] w-[100%] flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold mb-3">Account login</h1>
        <form class="flex flex-col gap-3" method="POST">
            <label class="flex flex-col items-center">
                Mail address
                <input
                    placeholder={`example@${process.env.INSTANCE_URL}`}
                    class="border p-1 text-center w-72 rounded-full border-black"
                    name="address"
                    type="email"
                    required
                />
            </label>
            <label class="flex flex-col items-center">
                Password
                <input
                    class="border p-1 text-center w-72 rounded-full border-black"
                    name="password"
                    type="password"
                    required
                />
            </label>
            <button class="bg-black w-72 p-2 rounded-full text-white"
                >Login</button
            >
        </form>
        <a href="/register" class="text-blue-700 hover:underline"
            >I don't have an account</a
        >
    </body>
</html>
