---
import Layout from "../layouts/base.astro";
---

<Layout>
        <h1>Welcome to this SEMail instance</h1>
        <button class="underline">Log in</button>
        <a href="/register" class="underline">Register</a>
</Layout>
