---
import Layout from "../layouts/base.astro";
---

<Layout>
	<form id="form">
                <label for="username">Username</label>
                <input
                        id="username"
                        name="username"
                        class="border border-black"
                />
                <button id="submitter" type="submit" class="underline">Register</button>
        </form>
        <p>Already have an account? <a href="/" class="underline">Log in</a></p>
</Layout>

<!-- Basic registration process implementation, not final, probably broken, just to get started -->
<script>
	import { client } from "@passwordless-id/webauthn";
	import type { UUID } from "crypto";

	alert(!!window.PublicKeyCredential);

	const form: HTMLFormElement | null = document.querySelector("form");
	form?.addEventListener("submit", async (event) => { 
		event.preventDefault();
		const formData = new FormData(form, document.getElementById("submitter"));
		
		const server = "http://localhost:26654"; // store later in a proper configuration file
		const response = await fetch(`${server}/auth/challenge`); // not implemented yet
		
		interface ChallengeResponse {
			id: UUID,
			challenge: string,
		}
		const challenge: ChallengeResponse = await response.json();

		const registration = client.register({
			user: formData.get("username")!,
			challenge: challenge.challenge
		});

		// not implemented yet
		const register = await fetch(`${server}/auth/register`, {
			method: "POST",
			body: JSON.stringify({
				id: challenge.id,
				registration,
			})
		})
		alert(register.statusText);
	});
</script>
