---

---

<html lang="en" class="h-[100%]">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro</title>
    </head>
    <body class="h-[100%] w-[100%] flex flex-col items-center justify-center">
        <h1 class="text-3xl font-bold mb-3">Register an account</h1>
        <form
            class="flex flex-col gap-3"
            method="POST"
            action="http://localhost:25052/auth/register"
        >
            <label class="flex flex-col items-center">
                Mail address
                <input
                    placeholder={`example@${process.env.INSTANCE_URL}`}
                    class="border p-1 text-center w-72 rounded-full border-black"
                    name="address"
                    type="email"
                    required
                />
            </label>
            <label class="flex flex-col items-center">
                Password
                <input
                    class="border p-1 text-center w-72 rounded-full border-black"
                    name="password"
                    type="password"
                    required
                />
            </label>
            <button class="bg-black w-72 p-2 rounded-full text-white"
                >Register</button
            >
        </form>
        <a href="/" class="text-blue-700 hover:underline"
            >I already have an account</a
        >
    </body>
</html>
